<%= f.input :answer, :wrapper => :prepend do %>
  <span class="add-on"><i class="icon-pencil"></i></span>
    <%= f.input_field :answer, class: "span6" %>
<% end %>
<%= f.link_to_remove t('.remove_this_answer') %>
