<h3>نمونه‌هایی از کپچای متنی</h3>
<p>
این صفحه تعدادی سوال منطقی که <a href="/how_it_works">توسط API وب سرویس</a> این وب‌گاه تولید شده‌است را، نمایش می‌دهد.
</p>

<% @questions.each do |question| %>
  <blockquote>
    <p><%= question.question %></p>
  </blockquote>
<% end %>

<p>
  می‌خواهید از این سوالات در وب‌گاه خود استفاده کنید؟! ببینید که <a href="/how_it_works">سرویس کپچای متنی چگونه کار می‌کند</a> و <a href="/register">یک حساب برای خود بسازید</a>.
</p>
