<h3>منطق سوال‌های کپچای متنی</h3>
<p>
  کپچا (به انگلیسی: CAPTCHA)‏، که سرنام برابر انگلیسی «آزمون همگانی کاملا خودکارشدهٔ تورینگ برای مجزا کردن انسان و رایانه» می‌باشد، یک سامانهٔ امنیتی و روند ارزیابی است که برای جلوگیری از برخی حمله‌های خرابکارانهٔ ربات‌های اینترنتی به‌کار می‌رود. این روند می‌تواند مشخص کند که مراجعه‌کنندگان به یک وب‌گاه و یا سایر خدمات آنلاین انسان هستند یا کامپیوتر. بدین منظور برنامهٔ کپچا آزمون‌هایی را تولید می‌کند که تنها انسان‌ها قادر به پاسخ‌گویی به آن‌ها باشند. چون کامپیوترها و نرم‌افزارهای فعلی احتمالاً نمی‌توانند پاسخ درستی به این آزمون بدهند، هر کاربری که آنرا درست حل کند، انسان فرض می‌شود.
</p>
<p>
کپچا گاهی «معکوس تست تورینگ» نامیده می‌شود. چون تست تورینگ توسط انسان برگزار می‌شود و هدفش تشخیص ماشین است اما کپچا توسط ماشین برگزار می‌شود و هدفش تشخیص انسان است.
</p>
<p>
این سایت سرویس وبی را ارائه می‌دهد که می‌تواند سوالات ساده منطقی (کپچای متنی)تولید کند:
<br /><br />
<blockquote>حمید، پنیر، زانو یا هتل: کدام‌یک نام شخص است؟</blockquote>

پیش‌نمایش این سرویس را در صفحه <a href="/demo">پیش‌نمایش</a> ببینید.
</p>
