<h3>منطق سوالات <a href="http://fa.wikipedia.org/wiki/%DA%A9%D9%BE%DA%86%D8%A7">کپچای</a> متنی</h3>
<p>
آزمایش کپچا برای تشخیص ربات از انسان است. احتمالا شما قبلا آز آن استفاده کرده‌اید:<br />
وارد کردن حروف به‌هم‌ریخته از یک تصویر برای این‌که مشخص شود شما یک انسان هستید نه یک ربات. این وب‌گاه وب‌ سرویسی را آماده کرده‌است که سوالات منطقی ساده تولید می‌کند:
<% if @question %>
  <blockquote><%= @question.question %></blockquote>
<% end %>

<h4><a href="/really">آیا شما واقعا نیاز به کپچا دارید؟</a></h4>
<p>
کپچا یک تجربه بد برای یک کاربر است، اضافه کردن یک عمل اضافه و وقت‌گیر برای کاربر. برای مثال اگر شما می‌خواهید یک فرم دیدگاه را از اسپم‌ محافظت کنید، <a href="/really">راه‌های بهتری نیز وجود دارد</a>.
</p>
<h4><a href="/why">آیا کپچای متنی به‌راستی کار می‌کند؟</a></h4>
<p>بله و خیر!</p>
<p>
کپچای متنی به دلیل ساده بودن کمتر از کپچای مبتنی بر عکس به کاربران آسیب می‌زند. کپچاهای مبتنی بر عکس برای در امان ماندن از OCRها، حروف و اعداد را به‌هم‌ریخته و ناخوانا می‌کنند که تجربه بدی برای کاربر است.
</p>
<p>
کپچای متنی به دلیل استفاده نکردن از عکس اطلاعات بیشتری می‌دهد، که این می‌تواند کار را برای ربات‌ها ساده‌تر کند. ربات‌ها می‌توانند از ابزارهایی به‌مانند Wolfram Alpha برای جواب دادن به سوالات استفاده کنند، که در حال حاضر در زبان فارسی این کار بسیار سخت‌تر می‌شود.
</p>
<h4><a href="/">textCaptcha.ir چیست؟</a></h4>
<p>
این وب‌گاه وب سرویسی را ارائه می‌دهد که می‌تواند کپچای متنی تولید کند، <a href="/demo">نمونه‌هایی از این سوالات</a> را می‌توانید ببینید. همچنین می‌توانید بفهمید که این <a href="/how_it_works">سرویس چگونه کار می‌کند</a> و برای کار با آن <a href="/register">می‌توانید ثبت‌نام کنید</a>.
</p>
