<% set_meta_tags title: t('.title') %>
<% set_meta_tags description: t('.description') %>
<% set_meta_tags canonical: root_url + "why" %>

<h3>موافقان و مخالفان سوالات منطقی کپچا</h3>
<p>
برای استفاده از کپچای متنی در مقابل کپچای مبتنی بر عکس مانند <a href="http://recaptcha.com/">ReCAPTCHA</a> باید نظرهای مخالفان و موافقان آن‌ها را بدانیم، تا بهتر انتخاب کنیم.<br />

  <ul class="thumbnails">
    <li class="span3"></li>
    <li class="span3">
      <a href="http://recaptcha.com/" class="thumbnail">
        <%= image_tag "recaptcha.png" %>
        <p>یک عکس از نمونهٔ کپچای مبتنی بر عکس</p>
      </a>
    </li>
  </ul>

</p>
<p>
اگرچه کپچای مبتنی بر عکس بیشتر استفاده می‌شود، اما دارای مشکلاتی است:
  <ul>
    <li>عکسی که تولید می‌شود به دلیل ناخوانایی و به‌هم‌ریختگی برای بیشتر کاربران مشکل‌ساز است و نوشتن آن برای آن‌ها مشکل است. اگرچه نسخهٔ صوتی آن نیز می‌تواند به کاربران کمک کند اما آن هم با وجود نویزهایی که در صدا وجود دارد، فهم آن را مشکل می‌کند.</li>
    <li>
      ساخت و پیاده‌سازی کپچای مبتنی بر عکس و صدا مشکل است، اگرچه سرویس‌هایی مانند <a href="http://recaptcha.com/">ReCAPTCHA</a> این را ساده کرده‌اند.
    </li>
    <li>
      کپچاهای مبتنی بر عکس نیز شکست می‌خورند. <a href="http://www.cs.sfu.ca/~mori/research/gimpy/">چندین</a> پروژه <a href="http://caca.zoy.org/wiki/PWNtcha">وجود دارد</a> که نشان می‌دهد نرم‌افزارهای تشخیص کاراکتر می‌توانند کاراکترها و حروف را بخوانند.
    </li>
  </ul>
</p>

<p>
W3C مقاله‌ای <a href="http://www.w3.org/TR/turingtest/">درباره غیرقابل دسترس بودن کپچاهای فعلی نوشته‌است</a>، و دیدگاه‌هایی از طرف <a href="http://www.rnib.org.uk/wacblog/images/captcha-if-youre-names-not-down-youre-not-coming-in/">RNIB</a> و رهبران وب <a href="http://www.456bereastreet.com/archive/200709/provide_an_accessible_alternative_if_you_must_use_a_captcha/">456 Berea St</a> مطرح شده‌است. در این مقاله‌ها استفاده از سوالات منطقی پیشنهاد شده‌است.
</p>

<p>
اشکالاتی به سوالات منطقی نیز وارد است:
  <ul>
    <li>کپچاهای متنی امنیت پایین‌تری نسبت به کپچاهای مبتنی بر عکس/صدا دارد (راحت‌تر شکسته می‌شوند). تجزیه‌کننده‌های زبان‌های طبیعی مانند Wolfram Alpha کار را بسیار راحت می‌کنند.</li>
    <li>
      سوالات منطقی براساس یک زبان خاص طراحی می‌شوند. در حال حاضر این وب‌گاه فقط زبان فارسی را پشتیبانی می‌کند.
    </li>
  </ul>
</p>

<p>
  خوب، با توجه به استدلال‌های بالا شما می‌توانید تصمیم بگیرید از کدام‌یک استفاده کنید. این وب‌گاه، اگر شما بخواهید، سوالات منطقی تولید می‌کند. <a href="/demo">پیش‌نمایشی از این سوالات</a> را می‌توانید ببینید. همچنین می‌توانید بفهمید <a href="/how_it_works">این سرویس چگونه کار می‌کند</a> و برای خود <a href="/register">یک حساب بسازید</a>.
</p>
