<% set_meta_tags title: t('.title') %>
<% set_meta_tags description: t('.description') %>
<% set_meta_tags canonical: new_user_url %>

<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                                 :default => "New #{model_class.model_name.human}") %></h1>
</div>
<%= render :partial => 'form' %>
